* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  //background: #fff;
  -webkit-font-smoothing: antialiased;
  position: relative
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
}

a
  cursor: pointer
  &.more
  &.download
    &:hover
      .more__text
        text-decoration: underline
  &.helper
    &:hover
      text-decoration: underline
  &.str13,
  &.str10
    &:hover
      text-decoration: underline
  &.news__more
    &:hover
      .helper
        text-decoration: underline
  &.pagination__link
  &.icons__link
    &:hover
      color: red
  &.fa__icons-link
    &:hover
      color: #000
  &.footer__social-link i
    &:hover
      color: #000

main {
  //background: #fff;
  width: 100%
}
.white
  color white
.blue
  color blue
.red
  color red
.green
  color green
.tac
  text-align: center
.rounded
  border-radius (50%)
.mb-20
  margin-bottom: 20px
.mr-20
  margin-right: 20px
.ml-20
  margin-left: 20px
.upper
  text-transform: uppercase
.mt-20
  margin-top: 20px
.pb-20
  padding-bottom 20px
.padding__row
  padding-top: 20px
.right
  float: right
.left
  float: left
#particles {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.inline
  font-size: 0
  & > *
    display: inline-block
    vertical-align: middle;
  &--top
    & > *
      vertical-align: top;
.container
  width: 990px;
  margin: auto;
.content
  width: 680px
//aside
//  width 180px
//  float left
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.logo
  sprite($sprite-logo)
.ami
  sprite($sprite-ami)
.tel
.mail
  font-size: 16px
  color: #fff
  margin-left: 30px
.border-btn
  font-size: 15px;
  padding: 15px
  border: 2px solid white;
  &:hover
    background: #fff
    color: #000
  &--red
    border: 2px solid #f55656;
    &:hover
      background: red
      color: #fff
    .fa-long-arrow-right
      margin 0 0 0 10px
  &--content
    border: 2px solid #f55656;
    &:hover
      background: red
      & > i
      & > b
        color: #fff
.hr
  border-bottom 5px solid hr
  &-red
    margin: auto
    width: 100px
    height: 3px;
    background-color: red
.border-hr
  border-bottom: 1px solid #cbcbcb
.padding-horiz
  padding: 30px 0
.padding-container
  padding: 30px
.center
  display: block
  margin: auto
.img-wrap
  img
    width: 100%
.quote
  padding: 0 100px
  i
    font-size: 12px

.rel
  position: relative

#map {
  width: 100%; height: 100%; padding: 0; margin: 0;
}
