@media only screen and (max-width: 990px)
  body
    max-width: 990px
    min-width: auto
    width: auto
  .container
    max-width: 990px
    width: auto
    padding: 0 10px
  .header__menu {
    width: 100%;
  }
  .header__bottom.fixed .menu__list
    padding-top: 20px
    margin-left: 0
    width: 85%
    text-align: center
    &-item
      margin-right: 10px
      & > a
        font-size: .9rem
  .footer__leftside
    width: 40%
  .footer__icons
    width: 60%
  .tel
    display: none

@media only screen and (max-width: 650px)
  .header__bottom.fixed .menu__list
    display: none


/*
@media only screen and (max-width: 480px)
*/

