@import 'reset.css'
@import '../fonts/fonts.css'
@import 'font-awesome.css'
//@import 'animate.css'
//@import 'slick.css'
//@import 'bxslider.css'
//@import 'CustomScrollbar.css'
@import 'fullcalendar.css'
@import 'sprite'
@import 'mixins'
@import '../stylus/variables'
@import '../stylus/typography'
@import '../stylus/clases'
//@import '../stylus/flex'
@import nib

body
  min-width: 990px

.header
  width: 100%
  //height: 290px;
  &__top
    background-color: #78786e;
    height: 40px;
    &-item
      color: #fff
      line-height: 40px
  &__menu
    display: inline-block
  &__bottom
    //height: 250px;
    background: #fff;
    background: linear-gradient(to bottom, rgba(243,243,230,.8) 30%,rgba(255,255,255,0.5) 100%);
    position: relative
    &.fixed
      -webkit-animation: fadeEffect .5s;
      animation: fadeEffect .5s; /* Fading effect takes 1 second */
      z-index: 999
      position: fixed
      top: 0
      width: 100%
      height: 85px
      box-shadow: 0 0 24px rgba(189, 188, 188, 0.72);
      background: white;
      .header__title
      .header__icons
        display: none
      .menu__list
        vertical-align top
        display: inline-block
        max-width: 90%
        padding-top: 30px
        margin-left: 20px
        &-logo
          padding-top: 7px
          width: 75px
          display: inline-block
  &__title
    padding-top: 40px
    margin-bottom: 30px
    color: #333;
    font-size: 30px;
    &-text
      display: inline-block
      vertical-align middle
      margin-left: 25px
      line-height: 1.5em
      font-weight: 800;
  &__logo
    display: inline-block
  &__icons
    text-align: right
    width: 480px
    display: inline-block
    height: 42px
    position: relative
    //float: right
    margin-top: 10px
    a
      i
        &:hover
          color: red;
  .mail
    margin-right: 30px

.lang
  font-size: 13px;
  line-height: 16px;
  &__item
    font-weight: 400;
    &:hover
      color: red;
  &__center
    font-size: 19px

.bg-white
  background-color: #fff
.fa
  font-size: 16px
  &__icons
    &-link
      //margin-top: 10px;
      margin-left: 20px
      font-size: 20px
      margin-top: 10px;
  &-long-arrow
    &-right
      margin-right: 10px;
    &-down
      padding-right: 10px
      padding-left: 5px
  &-bookmark
    transform: rotate(270deg)
    margin-right: 20px
  &-bars
    &--x
      &:before
        //content 'x'
        //font-family: "Open Sans", sans-serif;
        content: "\f00d";


.menu
  &__list
    display: inline-block
    counter-reset: item;
    list-style-type: decimal-leading-zero;
    max-width: 500px
    &-logo
      display: none
    &-link
      margin-bottom: 30px
    &-item
      display: inline-block;
      text-transform uppercase;
      //font-family: 'Fira Sans' sans-serif;
      font-weight: 600;
      margin-right: 24px
      &:last-child
        margin-right: 0
      &--active
        color: #bcbcb2;
      & > a
        color: #333;
        //font-family: 'Fira Sans', sans-serif;
        font-size: 15px;
        //font-weight: 600;
        line-height: 26px;
        &:hover
          color: red;
        &::before
          content: counter(item, decimal-leading-zero) ".";
          counter-increment: item;
          margin-right: 5px

    &-submenu
      &-link
        display: block
        margin-bottom: 20px
        color: #fff
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        max-width: 140px
        &:hover
          text-decoration: underline

.footer
  &__menu
    position: absolute
    width: 100%;
    bottom: 180px;
    display: none
    background: red
    border-bottom: 1px solid #d14444;
    .menu__list
      max-width: 100%
      &-item
        vertical-align top
        width: 160px
        margin-right: 0
        //& + .menu__list-item
        //  margin-left: 74px
        & > a
          max-width: 150px
          color: #fff
          &:before
            display: none
  &__top
    padding: 25px 0
    //height: 100px;
    background-color: red;
    color white
  &__leftside
    display: inline-block
  &__icons
    //margin-top: 15px;
    //float: right
    height: 42px
    width: 600px
    text-align: right
    position: relative
    & > *
      vertical-align: baseline
    .fa__icons-link
      margin-top: 6px;
      &--bars
        margin-left: 45px
        & > i
          font-size: 25px
  &__bottom
    padding: 20px 0
    background-color: #fff
    height: 80px;
    background-image: linear-gradient(180deg, #ebebdf 0%, white 100%);
  &__logo
    background: url(../images/logo.png)
    background-size: contain;
    width: 46px;
    height: 42px;
  &__copy
    margin-left: 10px
  &__social
    float: right
    margin-top: 10px
    &-link
      margin-left: 20px
      i
        font-size: 25px
        color: #b4b4aa
.sidebar
  width 180px
  display: inline-block
  //float left
  &__header
    padding: 20px 0
    &-inner
      color: #e6e6dc;
      font-size: 100px;
      font-weight: 600;
  &__menu
    &-item
      position: relative
      padding: 7px 0

      font-size: 13px;
      & > i
        display: none
        position: absolute
        left: -20px
        //top 30%
        color red
    &-link
      color: #64645a;
      font-weight: 600;
      line-height: 1.5em
      &:hover
        color red
        & + i
          display: inline-block

.section__content
  padding-top: 50px
  &-main
    vertical-align top
    display: inline-block
    width: 720px
    margin-left: 80px
  &-bg
    &--two
      background: url(../images/bg/bg-3.jpg) center top no-repeat
      background-size cover
  &-rel
    position: relative
  &-up
    margin-top: -30px
    background: #fff
  &-table
    margin-bottom: 50px
    tr
      td
        width: 33%
        border: red
        padding: 30px
  &-row
    & > *
      vertical-align: top
    .col__27 + .col__27
      margin-left: 90px


.bookmark
  vertical-align: top
  &:before
    font-family: 'FontAwesome';
    content: "\f02e"
    display: inline-block;
    font-size: 30px;
    color red
    transform: rotate(270deg);
    margin-right: 20px;
  & > span
    vertical-align: top
  &--arrow
    &:before
      display: none
      content: ''
    .bookmark-arrow
      &:before
        bottom: auto
        left: auto
        right: 2px;
        top: 4px;
    .str16
      padding-left: 50px

.bookmark-arrow
  margin-right: 15px
  display: inline-block
  background: red
  width: 35px;
  height: 24px;
  padding-left: 25px;
  position: relative
  &:before
    font-family: 'FontAwesome';
    content: "\f176";
    transform: rotate(45deg);
    color: #fff
    display: block;
    width: 11px;
    height: 12px;
    position: absolute
    bottom: 18px;
    left: 33px;
  //background: red
  :after
    content: ''


.telephone
  margin-left: 40px
  .helper
    margin-right: 20px
.associate
  &:before
  &:after
    content: ''
    display: inline-block
    height: 2px
    width: 25%
    background-color: #f1caca
  &--red
    &:before
    &:after
      background-color: red
  &__number
    padding-bottom: 20px
    .str-6
      margin-left: -15px
.slider-wrapper
  background: url('../images/bg/bg-1.jpg') top center no-repeat
  background-size: cover;
  height: 715px;

  /* PAGER */
  .bx-controls
    position: absolute
    right: 0
    top: 40%

  .bx-wrapper .bx-pager
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
  //padding-top: 20px;


  .bx-wrapper .bx-pager .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item
    margin-top: 20px
    //display: inline-block;
    //*zoom: 1;
    //*display: inline;


  .bx-wrapper .bx-pager.bx-default-pager a
    //opacity: 0.5;
    background: #e1e1df;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;


  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active
    //background: #000;
    background: transparent
    border: 2px solid red


.news
  //background-color: rgba(0, 0, 0, 0.5);
  &__what
    margin-bottom: 20px
  &__when
    margin-bottom: 30px
.more
  &__btn
    background-color: red
    padding: 3px 0 3px 20px
    i
      color: #fff
  &__text
    margin-left: 10px
  & > .fa-long-arrow-down
    font-size: 13px

.news-list
  &__img
    text-align: center
    width: 288px;
    height: 203px;
    &--one
      background: url("../images/nlist1.jpg") center no-repeat
    .border-btn
      margin-top: 70px
      padding: 20px 50px
  &__item
    & + .news-list__item
      margin-left: 32px
.calendar
  background: url('../images/bg/bg-2.jpg') top center no-repeat
  background-size: cover;
  //height: 720px;
  margin-bottom: 80px
  font-family: 'Open Sans', sans-serif;
//.news-slider
//  height: 280px
.partners
  vertical-align: top
  &-list
    padding: 20px 0
    &__item
      margin: 15px 0
      text-align: center
.partner1
  sprite($sprite-partner1)
.partner2
  sprite($sprite-partner2)
.partner3
  sprite($sprite-partner3)
.partner4
  sprite($sprite-partner4)
.partner5
  sprite($sprite-partner5)
.partner6
  sprite($sprite-partner6)
.partner7
  sprite($sprite-partner7)
.partner8
  sprite($sprite-partner8)
.preview
  background: url('../images/bg/bg-2.jpg') top center no-repeat
  background-size: cover;
  &__inner
    color: #fff
    padding: 120px 250px
    text-align: center
    & > span
      color: #fff

.numlist
  //list-style-type: decimal;
  list-style-position: inside;
  counter-reset: myCounter;
  list-style-type: decimal-leading-zero;
  &__item
    color: #f55656;
    font-family: Fira Sans, Sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    span
      padding-right: 40px
    &:after
      content: ''
      margin: 30px 0
      display: block
      height: 1px
      background-color: red
.icons
  &__link
    & + .icons__link
      margin-left: 20px
.download
  &__icon
    background: red
    padding: 5px 5px 5px 20px

.double
  position: relative
  &__upper
    z-index 1
    opacity: .9
    position: absolute
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
.pagination
  &__item
    & + .pagination__item
      margin-left: 20px
    &_active
      a
        color red
.i-btn
  & > i
    margin-right: 15px
    //vertical-align: middle;
  & > *
    vertical-align: text-top
  &--big-i
    & > i
      font-size: 25px
  &.active
    & > *
      color red
  & + .i-btn
    margin-left: 50px


/*custom calendar styles*/
.fc-day
  opacity: 0.7;
  background-color: #ddd;
.fc th
  background-color red
  & > span
    padding 10px 0
    color white
.fc-event, .fc-event-dot
    background-color #fff
    border none
.fc-event, .fc-event:hover, .ui-widget .fc-event
    color black
.fc-title, .fc-time
    color black
.fc-icon
  font-family: 'FontAwesome';
  &-right-single-arrow
    &:after
      font-size: 20px;
      color: #000
      content: "\f178"
  &-left-single-arrow
    &:after
      font-size: 20px;
      color: #000
      content: "\f177"
.fc
  h2
    color: #fff
/*custom calendar styles end*/

.news-slider
  &__item
    height: 250px
    & + .news-slider__item
      border: 1px solid red

.tabcontent
  display: none

.tabcontent {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.main-slider
  &__wrapper
    margin-top: 200px



/*forms start*/
.toggleform
  input
    //color: #fff
    border: 1px solid white;
    background-color: transparent
    font-size: 16px;
    font-weight: 400;
    //line-height: 25px;
    padding: 10px 15px
    &::-webkit-input-placeholder       {color: #fff; text-indent: 0; transition: text-indent 0.3s ease;}
    &::-moz-placeholder                {color: #fff; text-indent: 0; transition: text-indent 0.3s ease;}
    &:-moz-placeholder                 {color: #fff; text-indent: 0; transition: text-indent 0.3s ease;}
    &:-ms-input-placeholder            {color: #fff; text-indent: 0; transition: text-indent 0.3s ease;}
    &:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
    &:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
    &:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
    &:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.search__form
  display: none
  &-input
    color: #fff
    //border: 1px solid white;
    width: 341px;
    height: 42px;
  //&-submit
  //  color red
  //  border-color: red
  &--top
    input
      border: 1px solid gray;
      color: black
      &::-webkit-input-placeholder       {color: gray;}
      &::-moz-placeholder                {color: gray;}
      &:-moz-placeholder                 {color: gray;}
      &:-ms-input-placeholder            {color: gray;}
  &--page
    input
    input
      border 1px solid gray
      color: black
      &::-webkit-input-placeholder       {color: gray;}
      &::-moz-placeholder                {color: gray;}
      &:-moz-placeholder                 {color: gray;}
      &:-ms-input-placeholder            {color: gray;}
    .search__form-submit
      color red
      border-color: red

  &.open
    display: inline-block
    -webkit-animation: fadeEffect .5s;
    animation: fadeEffect .5s; /* Fading effect takes 1 second */

.mail__form
  display: none
  background: red
  position: absolute;
  width: 400px;
  right: 125px;
  top: 0
  &-input
    color: #fff
    //border: 1px solid white;
    //background: red
    //color: #fff
    display: inline-block
    width: 237px;
    height: 42px;
    &--submit
      cursor: pointer
      width: 138px;
      margin-left: 10px
  &--top
    background: white
    right: 65px
    input
      border: 1px solid gray;
      color: black
      &::-webkit-input-placeholder       {color: gray;}
      &::-moz-placeholder                {color: gray;}
      &:-moz-placeholder                 {color: gray;}
      &:-ms-input-placeholder            {color: gray;}
  &.open
    display: inline-block
    -webkit-animation: fadeEffect .5s;
    animation: fadeEffect .5s; /* Fading effect takes 1 second */

.share-box
  display: none
  position: absolute;
  top: -20px;
  right: 35px;
  &__link
    & + .share-box__link
      margin-left: 20px
  &--header
    right: -35px;
  &.open
    display: block
    -webkit-animation: fadeEffect .5s;
    animation: fadeEffect .5s; /* Fading effect takes 1 second */
/*forms end*/


/*popup*/
  .popup
    display: none
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.4);
    overflow-y: scroll;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 999;
    &.jsVisible
      display: block
      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 1s; /* Fading effect takes 1 second */
    &__container
      background: #fff
      margin: auto
      margin-top: 150px
      width: 800px;
      box-shadow: -2.6px 1.5px 46px rgba(0, 0, 0, 0.38);
    &__inner
      padding: 50px 100px
      padding-bottom: 0
    &__form
      padding-top: 40px
    &__row
      & + .popup__row
        margin-top: 15px
      & > input
      & > textarea
        padding: 10px 20px
        height: 51px;
        width: 100%
        border: 1px solid #c8c8be;
        color: #505046;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
      & > textarea
        resize: none
        height: 200px
    &__submit
      margin-top: 20px
      padding: 15px 45px
      background: #fff
      color: red
      font-family: 'Fira Sans', Sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      cursor: pointer
    &__close
      *
        box-sizing initial


/*CLOSE ICON PURE CSS*/
.x {
  position:relative;
  overflow:hidden;
  background:#CCC;
  border-radius:2px;
  border:solid 2px #FFF;
  transition: all .3s ease-out;
  cursor:pointer;
  width:30px;
  height:30px;
}
.x.shift:hover{
  background:red;
}
.x b{
  border:solid 15px rgba(255,255,255,0);
  display:block;
  position:absolute;
  height:0;
  width:0;
  padding:0;
  margin:0;
}
.x b:nth-child(1){
  border-top-color:#FFF;
  top:-2px;
}
.x b:nth-child(2){
  border-left-color:#FFF;
  left:-2px;
}
.x b:nth-child(3){
  border-bottom-color:#FFF;
  bottom:-2px;
}
.x b:nth-child(4){
  border-right-color:#FFF;
  right:-2px;
}

.map
  height: 570px


//@import '../stylus/media'

.clinic-slider__pager
  text-align: center;
  margin-top: 20px
  & > a
    width 13%
    display: inline-block
    & + a
      margin-left: 4%
    & > img
      max-width: 100%
      display: block;
      padding: 1px
    &.active
       border: 1px solid red