bold()
  //font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-style: normal;

b
strong
  bold()

.fa
  font-family: 'FontAwesome';

.section__content
  &-title
    display: inline-block
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 38px
    color: #3c3c32;
    line-height: 45px;
  &-h2
    color: #3c3c32;
    font-family: 'Fira Sans', sans-serif;
    font-size: 26px;
    font-weight: 600;
    & > i
      font-size: inherit

.header__title-text
  font-size: 30px;

.helper
  font-family: 'Open Sans', sans-serif;
  color: grey;
  font-size: 12px;

.str1
  color: #333;
  font-size: 22px;
.str2
  color: red;
  font-size: 38px;
  font-weight: 600;
  line-height: 48px;
.str3
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
.str-7
  font-family: 'Open Sans', sans-serif;
  color: red1;
  font-size: 155px;
  font-weight: 700;
  line-height: 155px;
  &--big
    font-size: 275px;
    line-height: 220px
.str-6
  font-family: 'Open Sans', sans-serif;
  color: red1;
  font-size: 119px;
  font-weight: 700;
  line-height: 119px;
  &--big
    font-size: 220px;
    line-height: 220px
.str-5
  font-family: 'Open Sans', sans-serif;
  color: red1;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
.str8
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #333;
.str9
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
.str10
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: #1a1a1a;
.str11
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 300;
.str12
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  vertical-align: baseline;
  b
    font-weight 700
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 31px;
.str13
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
.str14
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
.str15
  color: #3c3c32;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
.str16
  color: #3c3c32;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  padding-left: 40px
.str17
  color: #3c3c32;
  font-family: 'Fira Sans', sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 37px;
  text-decoration: underline;
.str18
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #e5e5e5;
.str20
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #505046;
.str52
  font-family: 'Fira Sans', sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 63px;
  color: white;
.str30
  color: #3c3c32;
  font-family: 'Fira Sans', sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;