*
  box-sizing border-box
// Wrapper
/*.container-wrapper
  max-width 1170px
  margin 0 auto
  position: relative*/
// Fonts
//roboto = 'Roboto', sans-serif;
//ptsans = 'Pt sans', sans-serif;
//euroreg = "eurofurence  regular"
//eurobold = "eurofurence  bold"
//euroit = "eurofurence  italic"

//bold()
//  font-family eurobold
//it()
//  font-family euroit
//reg()
//  font-family euroreg

// Colors
red = #f55656
red1 = #f1caca
hr = #e3e1d7

/*hover         =  #48b3a5
blue10        =  #48b3a5
dark          =  #3c3c3c
yellow        =  #fbd71d
yellow11      =  #fff1cc
yellow12      =  #fffcf5
blue          =  #1d92d7
blue2         =  #0f4761
blue3         =  #71fff0
blue4         =  #53bae9
blue5         =  #23aae0
blue6         =  #b5deea
blue7         =  #1d91d7
blue8         =  #d4eefa
blue9         =  #5d63bc
blue11        =  #afeaff
blue12        =  #f0fbff
viol          =  #5552c4
viol11        =  #c5d6f3
viol12        =  #f0f6ff
grey          =  #767676
grey2         =  #252930
grey3         =  #eaeeef
grey4         =  #656565
grey5         =  #c1c1c1
grey6         =  #ada29e
soft          =  #f7fafc
orange        =  #f17300
orange2       =  #b85900
green         =  #60bcb0
green2        =  #65b138
green3        =  #00d1a2
green11       =  #caffee
green12       =  #f2fffb*/
// purple        =  # 
// pink          =  # 
/*red           =  #f4486d
brown         =  #151110
brown2        =  #94796f
brown3        =  rgba(27, 22, 20, 0.8)
brown4        =  #332f2e
brown5        =  #80655b
brown6        =  #7c6f6a
milk          =  #e5e1d0
black2        =  #1b1614*/
// gold          =  #

// Input colors - readonly - disabled - succes - error
/*BGreadonly    =  brown4
readonly      =  brown6
error         =  #c50018
success       =  #20831d
BGdisabled    =  #635d5a
disabled      =  milk
information   =  #0f4ede
worning       =  #d66e00*/

// Js class
.jsVisible     
  display block
/*
.jsContFlex.jsFlex
  display flex
.jsContFlex 
  display none
.jsTab 
.jsTabDash
  cursor pointer
.jsCont
.jsContDash 
  //display none
  height: 0;
  overflow: hidden;
.jsCont.active
.jsContDash.active 
  //display block
  height: inherit;
  overflow: auto;
*/
.jsNone
  //display none
  height: 0;
  padding: 0!important;
  margin: 0;
  overflow: hidden;

// Bx controls
.jsNext
.jsPrev
  a 
    width 100%
    height 100% 

// Functions 
/*decor()
  text-decoration underline
  &:hover 
    text-decoration none
trs()
  transition ease-in-out .2s
trs-slow()
  transition ease-in-out .4s*/

// Color class


// Default input
/*.form__label
.form__area
  display block
  width 100%
.form__input
  display block
  width 100%
  color blue
  background: grey3
  font-size 18px
  padding 10px 20px
  border-radius (20px)
  border none
  height 40px
  reg()
.form__area
  padding 10px
  display block
  width 100%
  color blue
  background: grey3
  font-size 18px
  padding 10px 20px
  border-radius (20px)
  border none
  reg()*/
  
// Disabled input
/*input[type=text]:read-only
  box-shadow none !important
  background-color : BGreadonly
  color      : readonly
  border 1px solid readonly
  &:focus
    border 1px solid readonly !important
    color readonly
input[type=button]:disabled,
button:disabled
  background : transparent !important
  border     : 1px solid BGdisabled !important
  color      : BGdisabled
  cursor     : default !important
input[type=text]:disabled,
input[type=submit]:disabled,
.select_disabled,
.button_disabled
  background : BGdisabled !important
  border     : 1px solid BGdisabled !important
  color      : milk
  cursor     : default !important
.button_disabled:hover
  background : BGdisabled !important
  border     : 1px solid BGdisabled !important
  color      : disabled !important
  curosor    : default !important
.input_error
  border     : 1px solid error !important
  box-shadow : inset 0px 0px 0px 1px error !important
  color      : error !important
.input_success 
  border     : 1px solid success !important
  box-shadow : inset 0px 0px 0px 1px success !important
  color      : success !important
input[type=submit]:disabled
  color      : white*/

// Input reset 
//input
//textarea
//  padding 0px
//  margin 0px
//  border none
//  reg()
//  color blcak2
//  background: white
//select
//  background: white
//  padding 0px
//  margin 0px
//  border none
//  appearance none
//  border-radius (20px)
//  reg()

// Label checkbox
/*input[type="checkbox"]
input[type="radio"]
  display none
.label__i
  width 50px 
  height 15px
  background: brown6
  display block
  trs()
.label__checkbox:checked + i
  background: orange
  margin-left 50px
  trs()*/
  
// Placeholder color
//::-webkit-input-placeholder {color:blue;}
//::-moz-placeholder          {color:blue;}/* Firefox 19+ */
//:-moz-placeholder           {color:blue;}/* Firefox 18- */
//:-ms-input-placeholder      {color:blue;}
  
// Buttons


// col 

for i in (1..100)
  .col__{i}
    width (i)%
    position: relative

//for num in (1..8)
//  .partner{num}
//    sprite($sprite-partner(num))
//    display: inline-block


/*
.col__33
  width 33.3%
  position relative
.col_margin
  margin-right 30px
.col__left
.col__right 
  position: relative
*/

// Alignment
/*.ta-center
  text-align: center
.ta-left
  text-align: left
.ta-right
  text-align: right*/

// H heading 
h2
  font-size 36px
  font-weight 300
h3
  font-size 30px
h4
  font-size 20px
  font-weight 300
h5
  font-size 16px
  font-weight 300
h6
  font-size 14px
  font-weight 300
  
// Elements
/*menu
  padding 0px
  margin 0px*/
span
  display inline-block
  vertical-align middle
  font-size 15px
a 
  text-decoration none
  display inline-block
/*h1, h2, h3, h4, h5, h6
  font-weight normal*/
/*.text
  font-size 15px
  line-height 25px   
  margin 0 0 25px 0
.text_milk
  color milk  */
/*p
  color grey2 
  line-height 25px*/

// Custom functions
/*auto()
  position: absolute
  margin auto
  top 0; left 0; right 0; bottom 0;*/
    
// Banner-link
/*.banner__link
  color brown6
  font-size 14px
img()
  width 100% 
  max-width 100%
  height auto*/
    
// Charts 
/*
a[href="http://www.amcharts.com/javascript-charts/"]
  display none !important
*/


// Table reset 
/*th
  font-weight normal*/
  
//Popup 
/*.popup.jsVisible
  display flex
.popup__container.jsVisible 
  display block
.popup
  display none
  position fixed 
  background: rgba(255,255,255, 0.8)
  overflow-y scroll
  top 0px
  left 0px 
  width 100% 
  height @width
  flex-direction column
  flex-wrap wrap
  z-index 3
  .str20 
    color grey2
    it()
    margin-top 40px
    text-align: center
  .container-wrapper
    margin auto auto
  &__container
    width 330px 
    border 3px solid #79d9d1
    border-radius (20px 0 20px 20px)
    background: white
    margin 0 auto 30px auto
    padding 30px
    position relative
    display none
  &__close 
    sprite($sprite-close)
    cursor pointer
  &__close-wrapper 
    background: #79d9d1
    right -58px 
    top -3px
    position absolute
    padding 16px
    border-radius (0 15px 15px 0)
    &:hover 
      background: #4bb5ac
  &__title 
    font-size 24px 
    color milk
    bordered()
    &:after 
      margin 30px 0 0 0
  &__link 
    color orange
    font-size 15px
    &_sm 
      font-size 14px
      color @color
      display block
  &__links
    margin 8px 0 0 0
  &__separator
    color milk
    margin 0 7px
    position relative 
    top -1px
  &__form 
    margin 0px 0 0 0
    .button 
      display block
      width 100%
  &__captcha 
    margin 0 0 25px 0
  &__tooltip 
    color brown6
    font-size 14px
    line-height 23px
    margin 6px 0 0 0
  &__generate
    margin 28px 0 20px 0
  &__reset-button
    background: BGdisabled
    padding 11px 11px 12px 11px
    display inline-block
    border none
    position absolute
    top 29px 
    right 0px
    border-left 2px solid brown4
  &__area 
    height 120px !important
  &__text 
    color white
    font-size 14px 
    margin 25px 0 0 0
    bordered()
    &:after 
      margin 30px 0 0 0
  &__number
    color orange*/

//custom
