extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar
                .section__content-main.padding__row
                    h1.section__content-title
                        |Об
                        br
                        |ассоциации

                    .padding-horiz
                        p.str11
                            span.str12 Ассоциация Частных Клиник Москвы –
                            | &nbspэто, прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информирования и самоорганизации.
                    .img-wrap
                        img(src='images/content-img1.jpg')
                    .padding-horiz.inline
                        span.section__content-h2
                            i.fa.fa-bookmark.red
                            | Наша миссия
                        p.str11.padding__row
                            | 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно с Азиатско-Тихоокеанским обществом ортодонтов (APOS).

        section.section__content-bg.section__content-bg--two
            .col__25.center.padding-horiz
                .padding-container
                    .hr-red
                .tac
                    .associate__number
                        span.str-7.str-7--big.red 7
                        span.str-6.str-6--big.red 6
                        span.str-5.red.padding__row
                            | Клиник состоит в
                            br
                            | ассоциации
        section.section__content-rel
            .section__content-up.container.padding-container
                .padding-container
                    .hr-red
                .tac
                    span.section__content-title
                        | Объединяем частные клиники  Москвы
                p.str15.padding__row
                    | Ассоциация Частных Клиник Москвы (Ассоциация частных многопрофильных клиник) образована в октябре 2010 года с целью повышения качества и доступности медицинской помощи в частной системе здравоохранения.
                p.str15.padding__row
                    | Актуальность объединения обусловлена необходимостью возвращения высокой этической роли российского врача, активными процессами реформирования отечественного здравоохранения, принятием новых законов «Об основах охраны здоровья граждан», «Об обязательном медицинском страховании», которые содержат определенный новации, однако, в ряде случаев не полностью учитывают интересы пациентов и создают административные барьеры для развития негосударственного здравоохранения.
                .padding-container
                    .hr-red
                .tac.padding-horiz
                    span.section__content-title.red
                        | Основные задачи
                        br
                        | ассоциации
                .padding-horiz.inline
                    .col__50.padding__row.bookmark
                        span.section__content-h2
                            | Участие в работе над
                            br
                            | стандартами
                        .padding-horiz
                            span.str16 активное участие в работе над стандартами и порядками оказания медицинской помощи, медико-экономическом обосновании тарифов на медицинские услуги в рамках базовой и территориальной программы ОМС

                    .col__50.padding__row.bookmark
                        span.section__content-h2
                            | Защита интересов
                            br
                            | медицинского бизнеса
                        .padding-horiz
                            span.str16 защита интересов медицинского бизнеса при разработке и обсуждении законопроектов и подзаконных актов, участие и работа представителей ассоциации во всех профильных комитетах, комиссиях, рабочих группах, экспертных советах по охране здоровья граждан в органах законодательной, исполнительной власти и общественных объединениях;

                    .col__50.padding__row.bookmark
                        span.section__content-h2
                            | Участие в работе над
                            br
                            | стандартами
                        .padding-horiz
                            span.str16 активное участие в работе над стандартами и порядками оказания медицинской помощи, медико-экономическом обосновании тарифов на медицинские услуги в рамках базовой и территориальной программы ОМС
                    .col__50.padding__row.bookmark
                        span.section__content-h2
                            | Участие в работе над
                            br
                            | стандартами
                        .padding-horiz
                            span.str16 активное участие в работе над стандартами и порядками оказания медицинской помощи, медико-экономическом обосновании тарифов на медицинские услуги в рамках базовой и территориальной программы ОМС
                .preview
                    .preview__inner
                        span.section__content-title.mb-20 Анонсируем самые актуальные события и тренинги отрасли
                        a.more.mt-20(href="events.html")
                            span.more__btn
                                i.fa.fa-long-arrow-right
                            span.section__content-title.more__text.white Календарь
