extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar
                .section__content-main.padding__row
                    h1.section__content-title
                        |Наши
                        br
                        |клиники

                    .padding-horiz
                        p.str11
                            span.str12 Ассоциация Частных Клиник Москвы
                            | &nbspобъединяет не только заинтересованных профессионалов, но и людей не равнодушных к социальному устройству.

                    .img-wrap.mb-20
                        img(src='images/content-img1.jpg')
                    .padding-horiz.inline
                        span.section__content-h2
                            | Содружество профессионалов
                        .str10.padding__row Ассоциация объединяет Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно с Азиатско-Тихоокеанским обществом ортодонтов (APOS). В конференции примут участие члены ассоциаций, резиденты, а также ортодонты.
        .border-hr.padding-horiz.mb-20
        section
            .container.padding__row
                span.section__content-title
                    | Все клиники ассоциации
                br

            .container.padding-horiz.bg-white
                span.str3.red.padding-horiz
                    b 102 клиники в составе ассоциации на данный момент

                table.section__content-table
                    tr
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                    tr
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                    tr
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                .mb-20.tac
                    a.border-btn.border-btn--content
                        b.red Показать ещё
                        |&nbsp&nbsp
                        i.fa.fa-long-arrow-right.red


