extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar
                .section__content-main.padding__row
                    .padding-row.mb-20
                        a.more.helper.padding__row
                            i.fa.fa-long-arrow-left
                            |&nbsp Вернуться к списку клиник

                    h1.section__content-title
                        |Автономная Некоммерческая
                        br
                        |Организация «Гута Клиник»

                    .padding-horiz
                        p.str11.padding__row
                            span.str12 Мы, члены «Ассоциации частных клиник Москвы и ЦФО»,
                            | &nbspпризнавая независимость и ценность каждой клиники в отдельности и уважая ее право отстаивать свое мнение, отличное от других членов Ассоциации, сознавая ответственность, которую мы взяли на себя, вступив в Ассоциацию, добровольно принимаем на себя обязательства придерживаться в своей
                            | деятельности следующих основных положений и
                            | обязательств, закрепленных в настоящем Этическом Кодексе.

                    .padding-horiz
                        ul.clinic-slider
                            li.clinic-slider__item
                                .img-wrap
                                    img(src='images/content-img1.jpg')
                            li.clinic-slider__item
                                .img-wrap
                                    img(src='images/content-img1.jpg')
                            li.clinic-slider__item
                                .img-wrap
                                    img(src='images/content-img1.jpg')
                            li.clinic-slider__item
                                .img-wrap
                                    img(src='images/content-img1.jpg')
                        #bx-pager.clinic-slider__pager
                            a(data-slide-index='0', href='')
                                img(src='images/content-img1.jpg')
                            a(data-slide-index='1', href='')
                                img(src='images/content-img1.jpg')
                            a(data-slide-index='2', href='')
                                img(src='images/content-img1.jpg')
                            a(data-slide-index='3', href='')
                                img(src='images/content-img1.jpg')


                    .padding__row.mb-20
                        span.section__content-h2
                            | РАЗДЕЛ I. Общие положения
                        br
                        p.str11.padding__row
                            | Мы, члены «Ассоциации частных клиник Москвы и ЦФО»,
                            | признавая независимость и ценность каждой клиники в отдельности и уважая ее право отстаивать свое мнение, отличное от других членов Ассоциации, сознавая ответственность, которую мы взяли на себя, вступив в Ассоциацию, добровольно принимаем на себя обязательства придерживаться в своей
                            | деятельности следующих основных положений и
                            | обязательств, закрепленных в настоящем Этическом Кодексе.
                    .padding__row.mb-20
                        span.section__content-h2
                            | РАЗДЕЛ II. Основные положения Этического
                            | кодекса членов Ассоциации клиник Москвы и ЦФО в отношениях между Ассоциацией и
                            | заинтересованными лицами
                        br
                        p.str11.padding__row
                            | Мы, члены «Ассоциации частных клиник Москвы и ЦФО»,
                            | признавая независимость и ценность каждой клиники в отдельности и уважая ее право отстаивать свое мнение, отличное от других членов Ассоциации, сознавая ответственность, которую мы взяли на себя, вступив в Ассоциацию, добровольно принимаем на себя обязательства придерживаться в своей
                            | деятельности следующих основных положений и
                            | обязательств, закрепленных в настоящем Этическом Кодексе.
                    .padding__row.mb-20
                        span.section__content-h2
                            | РАЗДЕЛ III. Пропаганда профессии врача и
                            | негосударственной системы
                            | здравоохранения.
                        br
                        p.str11.padding__row
                            | Мы, члены «Ассоциации частных клиник Москвы и ЦФО»,
                            | признавая независимость и ценность каждой клиники в отдельности и уважая ее право отстаивать свое мнение, отличное от других членов Ассоциации, сознавая ответственность, которую мы взяли на себя, вступив в Ассоциацию, добровольно принимаем на себя обязательства придерживаться в своей
                            | деятельности следующих основных положений и
                            | обязательств, закрепленных в настоящем Этическом Кодексе.






