extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar
                .section__content-main.padding__row
                    h1.section__content-title
                        |Этический
                        br
                        |кодекс

                    .padding-horiz
                        p.str11
                            span.str12 Мы, члены «Ассоциации частных клиник Москвы и ЦФО»,
                            | &nbspпризнавая независимость и ценность каждой клиники в отдельности и уважая ее право отстаивать свое мнение, отличное от других членов Ассоциации, сознавая ответственность, которую мы взяли на себя, вступив в Ассоциацию, добровольно принимаем на себя обязательства придерживаться в своей
                            | деятельности следующих основных положений и
                            | обязательств, закрепленных в настоящем Этическом Кодексе.

                    .padding__row.mb-20
                        span.section__content-h2
                            | РАЗДЕЛ I. Общие положения
                        br
                        a.more.helper.padding__row Подробно &nbsp
                            i.fa.fa-long-arrow-right
                    .padding__row.mb-20
                        span.section__content-h2
                            | РАЗДЕЛ II. Основные положения Этического
                            | кодекса членов Ассоциации клиник Москвы и ЦФО в отношениях между Ассоциацией и
                            | заинтересованными лицами
                        br
                        a.more.helper.padding__row Подробно &nbsp
                            i.fa.fa-long-arrow-right
                    .padding__row.mb-20
                        span.section__content-h2
                            | РАЗДЕЛ III. Пропаганда профессии врача и
                            | негосударственной системы
                            | здравоохранения.
                        br
                        a.more.helper.padding__row Подробно &nbsp
                            i.fa.fa-long-arrow-right
                    .padding__row.mb-20
                        span.section__content-h2
                            | РАЗДЕЛ IV. Последствия нарушения
                            | этического кодекса.
                        br
                        a.more.helper.padding__row Подробно &nbsp
                            i.fa.fa-long-arrow-right
                    .padding__row.mb-20
                        span.section__content-h2
                            | РАЗДЕЛ V. Заключительная часть
                        br
                        a.more.helper.padding__row Подробно &nbsp
                            i.fa.fa-long-arrow-right
        .border-hr.padding-horiz.mb-20
        section
            .container.padding__row
                span.section__content-title
                    | Учредители ассоциации
                br

            .container.padding-horiz.bg-white
                a.more.mb-20
                    span.more__btn
                        i.fa.fa-long-arrow-right
                    span.str3.more__text.red
                        b Все клиники ассоциации

                table.section__content-table
                    tr
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                    tr
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                    tr
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru



