extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar6
                .section__content-main.padding__row
                    h1.section__content-title
                        |Наши
                        br
                        |контакты

                    .padding-horiz
                        p.str11
                            span.str12 Приглашаем к диалогу!
                            | &nbspНапишите нам или приезжайте в офис - обсудим все волнующие вас вопросы.
                    .padding-horiz.inline.inline--top
                        .col__50
                            span.str8
                                b
                                    |Адрес для
                                    br
                                    |корреспонденции
                            .padding-horiz
                                span.str10
                                    | 117419 г. Москва
                                    br
                                    | 2-й Верхний Михайловский, д.9, стр.2
                        .col__50
                            span.str8
                                b
                                    | Адрес для
                                    br
                                    | корреспонденции
                            .padding__row
                                span.str10
                                    | 117419 г. Москва
                                    br
                                    | 2-й Верхний Михайловский, д.9, стр.2

                    .inline.inline--top.mb-20
                        .col__50
                            span.str8
                                b
                                    | Адрес для
                                    br
                                    | корреспонденции
                            .padding__row
                                span.str10
                                    | 117419 г. Москва
                                    br
                                    | 2-й Верхний Михайловский, д.9, стр.2
                        .col__50
                            span.str8
                                b
                                    | Адрес для
                                    br
                                    | корреспонденции
                            .padding__row
                                span.str10
                                    | 117419 г. Москва
                                    br
                                    | 2-й Верхний Михайловский, д.9, стр.2
                    .padding-horiz
                        span.section__content-title
                            span.bookmark-arrow
                            | Отправить сообщение
                    .padding-horiz.mb-20
                        .contact__form
                            form(action="")
                                .popup__row
                                    label.str10
                                        b Ваше имя:
                                    br
                                    br
                                    input(type="text")
                                .popup__row
                                    label.str10
                                        b Ваше сообщение:
                                    br
                                    br
                                    textarea(type="text")
                                .popup__row
                                    .col__40
                                        input(type="submit", value='Отправить сообщение').popup__submit.border-btn.border-btn--red

        section.map
            script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
            script(src='js/icon_customImage.js', type='text/javascript')
            #map


