extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar
                .section__content-main.padding__row
                    .padding-row.mb-20
                        a.more.helper.padding__row
                            i.fa.fa-long-arrow-left
                            |&nbsp Вернуться к списку клиник

                    .padding-horiz
                        .img-wrap.col__50
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            | Басков
                            br
                            | Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br

                    h1.section__content-title
                        |Автономная Некоммерческая
                        br
                        |Организация «Гута Клиник»

                    .padding-horiz
                        p.str11.padding__row
                            span.str12 Мы, члены «Ассоциации частных клиник Москвы и ЦФО»,
                            | &nbspпризнавая независимость и ценность каждой клиники в отдельности и уважая ее право отстаивать свое мнение, отличное от других членов Ассоциации, сознавая ответственность, которую мы взяли на себя, вступив в Ассоциацию, добровольно принимаем на себя обязательства придерживаться в своей
                            | деятельности следующих основных положений и
                            | обязательств, закрепленных в настоящем Этическом Кодексе.

                    .padding__row.mb-20
                        span.section__content-h2
                            | РАЗДЕЛ I. Общие положения
                        br
                        p.str11.padding__row
                            | Мы, члены «Ассоциации частных клиник Москвы и ЦФО»,
                            | признавая независимость и ценность каждой клиники в отдельности и уважая ее право отстаивать свое мнение, отличное от других членов Ассоциации, сознавая ответственность, которую мы взяли на себя, вступив в Ассоциацию, добровольно принимаем на себя обязательства придерживаться в своей
                            | деятельности следующих основных положений и
                            | обязательств, закрепленных в настоящем Этическом Кодексе.
                    .padding__row.mb-20
                        span.section__content-h2
                            | РАЗДЕЛ II. Основные положения Этического
                            | кодекса членов Ассоциации клиник Москвы и ЦФО в отношениях между Ассоциацией и
                            | заинтересованными лицами
                        br
                        p.str11.padding__row
                            | Мы, члены «Ассоциации частных клиник Москвы и ЦФО»,
                            | признавая независимость и ценность каждой клиники в отдельности и уважая ее право отстаивать свое мнение, отличное от других членов Ассоциации, сознавая ответственность, которую мы взяли на себя, вступив в Ассоциацию, добровольно принимаем на себя обязательства придерживаться в своей
                            | деятельности следующих основных положений и
                            | обязательств, закрепленных в настоящем Этическом Кодексе.
                    .padding__row.mb-20
                        span.section__content-h2
                            | РАЗДЕЛ III. Пропаганда профессии врача и
                            | негосударственной системы
                            | здравоохранения.
                        br
                        p.str11.padding__row
                            | Мы, члены «Ассоциации частных клиник Москвы и ЦФО»,
                            | признавая независимость и ценность каждой клиники в отдельности и уважая ее право отстаивать свое мнение, отличное от других членов Ассоциации, сознавая ответственность, которую мы взяли на себя, вступив в Ассоциацию, добровольно принимаем на себя обязательства придерживаться в своей
                            | деятельности следующих основных положений и
                            | обязательств, закрепленных в настоящем Этическом Кодексе.
                    





