mixin footer
	.border-hr
	.bg-white.padding-horiz
		.container.padding-horiz
			span.str12 Ассоциация Частных Клиник Москвы благодарит за оказываеюмую помощь и приглашает к сотрудничеству всех заинтересованных лиц и оранизации.
	footer.footer
		.footer__menu
			.container.padding-horiz
				ol.menu__list
					li.menu__list-item
						a.menu__list-link(href="about.html") ОБ АССОЦИАЦИИ
						.menu__list-submenu
							a(href="about.html").menu__list-submenu-link ОБ АССОЦИАЦИИ
							a(href="join.html").menu__list-submenu-link КАК ВСТУПИТЬ
							a(href="clinics.html").menu__list-submenu-link НАШИ КЛИНИКИ
							a(href="people.html").menu__list-submenu-link ЛИЦА АССОЦИАЦИИ
							a(href="partners.html").menu__list-submenu-link ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ
							a(href="code.html").menu__list-submenu-link ЭТИЧЕСКИЙ КОДЕКС
							a(href="specification.html").menu__list-submenu-link ПОЛОЖЕНИЯ, СТАНДАРТЫ, ПРАВИЛА
							a(href="registry.html").menu__list-submenu-link РЕЕСТР АССОЦИАЦИИ

					li.menu__list-item
						a.menu__list-link(href="news.html") НОВОСТИ
						.menu__list-submenu
							a.menu__list-submenu-link ВСЕ НОВОСТИ
							a.menu__list-submenu-link НОВОСТИ АССОЦИАЦИИ
							a.menu__list-submenu-link НОВОСТИ ЗДРАВООХРАНЕНИЯ
					li.menu__list-item
						a.menu__list-link(href="events.html") СОБЫТИЯ И ОБУЧЕНИЕ
						.menu__list-submenu
							a.menu__list-submenu-link ВСЕ МЕРОПРИЯТИЯ
							a.menu__list-submenu-link СОБЫТИЯ
							a.menu__list-submenu-link ОБУЧЕНИЕ
					li.menu__list-item
						a АНАЛИТИКА
					li.menu__list-item
						a ПРЕСС-ЦЕНТР
					li.menu__list-item
						a(href="contacts.html") КОНТАКТЫ

		.footer__top
			.container.inline
				.footer__leftside
					a.border-btn.jsJoin
						i.fa.fa-long-arrow-right
						| Вступить в ассоциацию
					a.tel(href="tel:+74957698568") +7 (495) 769-85-68
				.footer__icons
					form#footSearchForm.toggleform.search__form
						input.search__form-input(type='text', name='search', placeholder='Введите поисковый запрос...')
					a.fa__icons-link#fSearch
						<i class="fa fa-search" aria-hidden="true"></i>
					form#footMailForm.toggleform.mail__form
						input.mail__form-input(type='email', name='email', placeholder='Ваш e-mail...')
						input.mail__form-input.mail__form-input--submit(type="submit", value="Отправить")
					a.fa__icons-link#fMail
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
					#footShare.share-box.share-box--footer
						a.share-box__link
							i.fa.fa-vk
						a.share-box__link
							i.fa.fa-facebook
						a.share-box__link
							i.fa.fa-twitter
					a.fa__icons-link#fShare
						<i class="fa fa-share-alt" aria-hidden="true"></i>
					a.fa__icons-link.fa__icons-link--bars#fMenu
						i.fa.fa-bars#menuBtn

		.footer__bottom
			.container.inline
				a.footer__logo
				span.footer__copy © Ассоциация Частных Клиник Москвы, 2016
				.footer__social
					a.footer__social-link
						i.fa.fa-vk
					a.footer__social-link
						i.fa.fa-facebook
					a.footer__social-link
						i.fa.fa-twitter
	include scripts.jade
	include popup.jade