mixin head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="css/style.css")
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  link(rel="icon", type='image/x-icon', href="favicon.ico")
  //meta(name="viewport", content="width=device-width, initial-scale=1")
  //if GoogleFonts
  //  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>