extends layout
include mixins.jade
//- var bxslider = true
//- var fullcalendar = true

block content
    main
        section.bg-white
            .container.padding-horiz.inline.clearfix
                .col__18.right.clearfix
                    .associate.tac
                        .associate__number
                            span.str-7 7
                            span.str-6 6
                            span.str-5 Клиник состоит в ассоциации
                .col__60
                    h1.str11
                        b Ассоциация Частных Клиник Москвы –
                        | &nbspэто, прежде всего, сообщество заинтересованных профессионалов, функции информирования и партнерства.
                .padding__row.inline
                    a.border-btn.border-btn--red.jsJoin
                        b Вступить в ассоциацию
                        i.fa.fa-long-arrow-right
                    div.telephone
                        span.helper Все вопросы по телефону
                        span.str1 +7 (495) 769-85-68

        section.slider-wrapper.padding__row
            .container.padding-horiz.rel
                span.str10.white
                    b Основана в 2001 году &nbsp &nbsp
                span.str10.red
                    b Объединяет 76 организаций
                .main-slider__wrapper
                ul.main-slider
                    li.main-slider__item
                        .col__45
                            span.str52
                                | Объединяем частные клиники Москвы
                            br
                            span.str18
                                | Прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информировани
                            br
                            a.more.padding__row
                                span.more__btn
                                    i.fa.fa-long-arrow-right
                                span.str3.more__text.white Подробнее об ассоциации
                    li.main-slider__item
                        .col__45
                            span.str52
                                | Объединяем частные клиники Москвы
                            br
                            span.str18
                                | Прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информировани
                            br
                            a.more.padding__row
                                span.more__btn
                                    i.fa.fa-long-arrow-right
                                span.str3.more__text.white Подробнее об ассоциации
                    li.main-slider__item
                        .col__45
                            span.str52
                                | Объединяем частные клиники Москвы
                            br
                            span.str18
                                | Прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информировани
                            br
                            a.more.padding__row
                                span.more__btn
                                    i.fa.fa-long-arrow-right
                                span.str3.more__text.white Подробнее об ассоциации
        section.section__content-rel
            .container.bg-white
                .section__content-up.padding-container.clearfix
                    .col__45.left
                        .news__title.mb-20
                            span.str2
                                | Главное событие
                                br
                                | в сентябре
                        a.more.mb-20
                            span.more__btn
                                i.fa.fa-long-arrow-right
                            span.str3.more__text Все события
                        .img-wrap.mt-20
                            img(src="images/img1.jpg")

                    .col__45.right
                        .news__what.str8 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC)
                        .news__when.str9 01.09.2016-3.09.2016, Бали, Индонезия
                        .news__text.str10 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно с Азиатско-Тихоокеанским обществом ортодонтов (APOS). В конференции примут участие члены ассоциаций, резиденты, а также ортодонты из таких стран, как Сингапур, Малайзия, Таиланд, Австралия, Индия,Тайвань, Япония, Южная Корея и пр.
                        a.news__more.right.padding__row
                            span.helper Подробнее &nbsp&nbsp
                                i.fa.fa-long-arrow-right
                .padding-horiz
                    .border-hr
                .padding-container
                    .more.mb-20
                        //span.more__btn.mr-20
                        //    i.fa.fa-long-arrow-right
                        h2.section__content-title
                            b Деятельность ассоциации
                    .padding__row
                        p.str11
                            span.str12 Ассоциация Частных Клиник Москвы –&nbsp
                            | это, прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информирования и самоорганизации.
                        a.news__more.padding__row
                            span.helper Подробнее &nbsp&nbsp
                                i.fa.fa-long-arrow-right
                        ul.news-list.padding__row.inline
                            li.news-list__item.col__31
                                .news-list__img.news-list__img--one.inline
                                    a.border-btn.border-btn--red.white
                                        b События
                                .str10.padding__row 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно ...
                                br
                                a.str13 Все события&nbsp&nbsp&nbsp
                                    i.fa.fa-long-arrow-right
                            li.news-list__item.col__31
                                .news-list__img.news-list__img--one.inline
                                    a.border-btn.border-btn--red.white
                                        b События
                                .str10.padding__row 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно ...
                                br
                                a.str13 Все события&nbsp&nbsp&nbsp
                                    i.fa.fa-long-arrow-right
                            li.news-list__item.col__31
                                .news-list__img.news-list__img--one.inline
                                    a.border-btn.border-btn--red.white
                                        b События
                                .str10.padding__row 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно ...
                                br
                                a.str13 Все события
                                    |&nbsp&nbsp&nbsp
                                    i.fa.fa-long-arrow-right

        section.calendar
            .container.padding-horiz
                #calendar
        section.bg-white
            .container.padding__row
                h2.section__content-title.mb-20
                    b Деятельность ассоциации
                br
                a.more.mb-20
                    span.more__btn
                        i.fa.fa-long-arrow-right
                    span.str3.more__text Все события
                a.right
                    span.helper Подисаться на новости&nbsp&nbsp&nbsp
                    i.fa.fa-envelope-o.red
            .padding-horiz
                ul.news-slider.inline
                    li.news-slider__item.padding-container
                        span.helper 16.09.2016
                        span.padding__row.str10
                            | Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания
                        a.helper.right.padding__row
                            | Подробнее
                    li.news-slider__item.padding-container
                        span.helper 16.09.2016
                        span.padding__row.str10
                            | Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания городскую программу
                        a.helper.right.padding__row
                            | Подробнее
                    li.news-slider__item.padding-container
                        span.helper 16.09.2016
                        span.padding__row.str10
                            | Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания
                        a.helper.right.padding__row
                            | Подробнее
                    li.news-slider__item.padding-container
                        span.helper 16.09.2016
                        span.padding__row.str10
                            | Депздрав Москвы разрабатывает
                        a.helper.right.padding__row
                            | Подробнее
                    li.news-slider__item.padding-container
                        span.helper 16.09.2016
                        span.padding__row.str10
                            | Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания
                        a.helper.right.padding__row
                            | Подробнее
                    li.news-slider__item.padding-container
                        span.helper 16.09.2016
                        span.padding__row.str10
                            | Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания
                        a.helper.right.padding__row
                            | Подробнее

            .container.padding-horiz.inline
                .col__50.partners
                    span.str14
                        i.fa.fa-bookmark.red
                        | Генеральный инфопартнер
                    .str10.padding-horiz.col__70 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией
                    span.ami
                .col__50.partners
                    span.str14
                        i.fa.fa-bookmark.red
                        | Информационные партнеры
                    ul.partners-list.inline
                        li.col__25.partners-list__item
                            span.partner1
                        li.col__25.partners-list__item
                            span.partner2
                        li.col__25.partners-list__item
                            span.partner3
                        li.col__25.partners-list__item
                            span.partner4
                        li.col__25.partners-list__item
                            span.partner5
                        li.col__25.partners-list__item
                            span.partner6
                        li.col__25.partners-list__item
                            span.partner7
                        li.col__25.partners-list__item
                            span.partner8
