extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar2
                .section__content-main.padding__row
                    span.str10 12 октября 2016
                        br
                        span.str10 Новости здравоохранения
                        br
                    h1.str30.padding-horiz
                        |Комиссия по календарю прививок будет создана при Общественной палате РФ

                    p.str11.mb-20
                        span.str12 Ассоциация Частных Клиник Москвы&nbsp
                        | объединяет не только заинтересованных профессионалов, но и людей не равнодушных к социальному устройству.

                    .img-wrap.padding-horiz
                        img(src='images/content-img1.jpg')

                    .mb-20
                        span.str10
                            | 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно с Азиатско-Тихоокеанским обществом ортодонтов (APOS). В конференции примут участие члены ассоциаций, резиденты, а также ортодонты из таких стран, как Сингапур, Малайзия, Таиланд, Австралия, Индия,Тайвань, Япония, Южная Корея и пр.
                        .padding__row
                            span.str10
                                | Ожидаемое количество участников - около 1500 человек. Темой конференции было выбрано будущее ортодонтии. Конференция пройдет в Bali Nusa Dua Convention Center (BNDCC), выставочном комплексе мирового уровня,расположенном в престижном районе Nusa Dua Bali. Данное событие - уникальная возможность для участников - членов ассоциаций представить свои последние разработки в области стоматологии.
                    .padding-horiz
                        a.str10(href='news.html')
                            i.fa.fa-long-arrow-left
                                |&nbsp&nbsp
                            b Вертнуться к списку новостей

            .padding__row
                .border-hr

        .container.padding__row.inline
            .col__50.partners
                span.str14
                    i.fa.fa-bookmark.red
                    | Генеральный инфопартнер
                .str10.padding-horiz.col__70 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией
                span.ami
            .col__50.partners
                span.str14
                    i.fa.fa-bookmark.red
                    | Информационные партнеры
                ul.partners-list.inline
                    li.col__25.partners-list__item
                        span.partner1
                    li.col__25.partners-list__item
                        span.partner2
                    li.col__25.partners-list__item
                        span.partner3
                    li.col__25.partners-list__item
                        span.partner4
                    li.col__25.partners-list__item
                        span.partner5
                    li.col__25.partners-list__item
                        span.partner6
                    li.col__25.partners-list__item
                        span.partner7
                    li.col__25.partners-list__item
                        span.partner8


