extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar
                .section__content-main.padding__row
                    h1.section__content-title
                        |Как вступить
                        br
                        |в ассоциацию

                    .padding-horiz
                        p.str11
                            span.str12 Мы ждем новых идейных лидеров
                            | &nbspв свои ряды. Ассоциация открыта и стремится к диалогу с каждым редставителем частной медицины Москвы!

                    blockquote.str10.quote.mb-20
                        i.fa.fa-quote-left &nbsp&nbsp
                        | Членами Ассоциации могут быть частные многопрофильные медицинские клиники и другие медицинские организации - юридические лица, заинтересованные в развитии отрасли.
                        |&nbsp&nbsp
                        i.fa.fa-quote-right
                    .img-wrap.padding__row
                        img(src='images/content-img1.jpg')
                    .padding-horiz.inline
                        span.section__content-h2
                            | Членство в Ассоциации дает:
                        ol.numlist.padding-horiz
                            li.numlist__item
                                span.str10 Правовую поддержку, получение оперативной информации об изменениях в законодательстве, ежедневный мониторинг новостей, законов, положений отрасли здравоохранения.
                            li.numlist__item
                                span.str10 Новые возможности для развития бизнеса, обмен информацией, создание и участие в партнерских программах, новые возможности для привлечения пациентов, координация работы со страховыми компаниями, оперативная информация о предложениях по новым помещениям, рассылка резюме врачей и  медперсонала.
                            li.numlist__item
                                span.str10 Собственную юридическую службу, обмен опытом между членами Ассоциации, юридическую помощь в досудебном урегулировании.
                            a.more.mb-20
                                span.more__btn
                                    i.fa.fa-long-arrow-right
                                span.str3.more__text.red
                                    b Все преимущества


        section
            .container.padding-horiz
                .preview
                    .preview__inner
                        span.section__content-title
                            |Возможности
                            br
                            |ассоциации

                .padding-horiz.inline.bg-white
                    .col__50.padding__row.bookmark.bookmark--arrow
                        span.bookmark-arrow
                        span.section__content-h2

                            | Участие в работе над
                            br
                            | стандартами
                        .padding-horiz
                            span.str16 активное участие в работе над стандартами и порядками оказания медицинской помощи, медико-экономическом обосновании тарифов на медицинские услуги в рамках базовой и территориальной программы ОМС

                    .col__50.padding__row.bookmark.bookmark--arrow
                        span.bookmark-arrow
                        span.section__content-h2
                            | Защита интересов
                            br
                            | медицинского бизнеса
                        .padding-horiz
                            span.str16 защита интересов медицинского бизнеса при разработке и обсуждении законопроектов и подзаконных актов, участие и работа представителей ассоциации во всех профильных комитетах, комиссиях, рабочих группах, экспертных советах по охране здоровья граждан в органах законодательной, исполнительной власти и общественных объединениях;

                    .col__50.padding__row.bookmark.bookmark--arrow
                        span.bookmark-arrow
                        span.section__content-h2
                            | Участие в работе над
                            br
                            | стандартами
                        .padding-horiz
                            span.str16 активное участие в работе над стандартами и порядками оказания медицинской помощи, медико-экономическом обосновании тарифов на медицинские услуги в рамках базовой и территориальной программы ОМС
                    .col__50.padding__row.bookmark.bookmark--arrow
                        span.bookmark-arrow
                        span.section__content-h2
                            | Участие в работе над
                            br
                            | стандартами
                        .padding-horiz
                            span.str16 активное участие в работе над стандартами и порядками оказания медицинской помощи, медико-экономическом обосновании тарифов на медицинские услуги в рамках базовой и территориальной программы ОМС
        section
            .tac.container
                span.section__content-title.red
                    | Представители ассоциации входят в
                    br
                    | состав следующих организаций:
            .container.padding-horiz.bg-white
                table.section__content-table
                    tr
                        td
                            span.str10 Экспертный совет по развитию конкуренции в сфере обращения медицинских изделий  ФАС России
                        td
                            span.str10 Рабочая группа Комитета по охране здоровья Государственной Думы ФС РФ
                        td
                            span.str10 Рабочая группа при Департаменте оценки регулирующего воздействия Минэкономразвитии
                    tr
                        td
                            span.str10 Экспертный совет по развитию предпринимательства Минздравсоцразвития
                        td
                            span.str10 Общественный совет Росздравнадзора
                        td
                            span.str10 Рабочая группа   НИУ «Высшая школа экономики»
                    tr
                        td
                            span.str10 Общественный совет «Центра развития ГЧП»
                        td
                            span.str10 Экспертный совет ФАС по развитию конкуренции в здравоохранении
                        td
                            span.str10 Общественный совет по предпринимательству при Префектуре Центрального административного округа Москвы
            .border-hr
            .container.padding-horiz.bg-white
                span.section__content-title
                    span.bookmark-arrow
                    | Порядок вступления
                .icons.right.clearfix.mt-20
                    a.icons__link
                        i.fa.fa-envelope-o
                    a.icons__link
                        i.fa.fa-share-alt
                .padding-horiz
                    p.str11
                        span.str12 Чтобы стать членом Ассоциации частных клиник Москвы
                        | &nbspзаполните форму по сылке «Вступить в ассоциацию либо направьте информацию о Вашей компании электронным письмом по адресу angelina@apcmed.ru или marina@apcmed.ru.
                a.border-btn.border-btn--content.mb-20.jsJoin
                    i.fa.fa-long-arrow-right.red
                    b.red Вступить в ассоциацию
            .container
                .border-hr
            .container.padding-horiz.bg-white
                span.section__content-title.padding__row
                    span.bookmark-arrow
                    | Взносы и документы
                .inline.section__content-row.padding-horiz
                    .col__27
                        span.section__content-h2.padding__row
                            | Вступительный взнос
                            | в Ассоциацию
                        span.section__content-title.padding-horiz.red 20 000 руб.
                        span.str10 Вступительный взнос, согласно Положению о порядке уплаты взносов, для члена Ассоциации уставлен в размере 20 тысяч рублей.
                    .col__27
                        span.section__content-h2.padding__row
                            | Вступительный взнос
                            | в реестр
                        span.section__content-title.padding-horiz.red 3 000 руб.
                        span.str10 Отдельно оплачивается членство в Реестре Саморегулируемой организации Ассоциации каждого юридического лица вступающей организации - размер вступительного взноса составляет 3 тысячи рублей.
                    .col__27
                        span.section__content-h2.padding__row
                            | Ежеквартальный членский взнос
                        span.section__content-title.padding-horiz.red 15 000 руб.
                        span.str10 Ежеквартальный членский взнос установлен в размере 15 тысяч рублей.

                .border-hr.mt-20

         section.bg-white
            .container.padding-horiz
                .str8
                    b Презентация и документы
                .str10.padding__row Более полно ознакомиться с возможностями, которые дает членство в нашей Ассоциации, вы можете, скачав презентационный материал  Ассоциации частных клиник Москвы и ЦФО «Частное здравоохранение России», а также  подборку Вестников Ассоциации - регулярного печатного издания Ассоциации, где рассказывается о нашей деятельности, собраны наиболее интересные отраслевые новости и публикуются анонсы ближайших мероприятий.
                a.download.padding__row
                    i.fa.fa-file-o.download__icon.white
                    span.str3.more__text.red
                        b Скачать презентацию

