extends layout
include mixins.jade

block content
    main
        section.bg-white
            .container.padding__row.inline.pb-20
                .col__70
                    h1.section__content-title
                        b Ассоциация Частных Клиник Москвы –
                        | &nbspэто, прежде всего, сообщество заинтересованных профессионалов, функции информирования и партнерства.
                    .padding__row.inline
                        a.border-btn.border-btn--red
                            b Вступить в ассоциацию
                            i.fa.fa-long-arrow-right
                        div.telephone
                            span.helper Все вопросы по телефону
                            span.str1 +7 (495) 769-85-68
                .col__18.right.clearfix
                    .associate.tac
                        .associate__number
                            span.str-7 7
                            span.str-6 6
                            span.str-5 Клиник состоит в ассоциации
        section.slider-wrapper
            .container
        section.section__content-rel
            .container.bg-white
                .section__content-up.padding-container.clearfix.hr
                    .col__45.left
                        .news__title.mb-20
                            span.str2
                                | Главное событие
                                br
                                | в сентябре
                        a.more.mb-20
                            span.more__btn
                                i.fa.fa-long-arrow-right
                            span.str3.more__text Все события
                        .img-wrap.mt-20
                            img(src="images/img1.jpg")

                    .col__45.right
                        .news__what.str8 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC)
                        .news__when.str9 01.09.2016-3.09.2016, Бали, Индонезия
                        .news__text.str10 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно с Азиатско-Тихоокеанским обществом ортодонтов (APOS). В конференции примут участие члены ассоциаций, резиденты, а также ортодонты из таких стран, как Сингапур, Малайзия, Таиланд, Австралия, Индия,Тайвань, Япония, Южная Корея и пр.
                        a.news__more.right.padding__row
                            span.helper Подробнее &nbsp&nbsp
                                i.fa.fa-long-arrow-right
                .padding-container
                    .more.mb-20
                        span.more__btn.mr-20
                            i.fa.fa-long-arrow-right
                        h2.section__content-title
                            b Деятельность ассоциации
                    .padding__row
                        p.str11
                            span.str12 Ассоциация Частных Клиник Москвы –
                            | &nbspэто, прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информирования и самоорганизации.
                        a.news__more.padding__row
                            span.helper Подробнее &nbsp&nbsp
                                i.fa.fa-long-arrow-right
                        ul.news-list.padding__row.inline
                            li.news-list__item.col__31
                                .news-list__img.news-list__img--one.inline
                                    a.border-btn.border-btn--red
                                        | События
                                .str10.padding__row 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно ...
                                br
                                a.str13 Все события&nbsp&nbsp&nbsp
                                    i.fa.fa-long-arrow-right
                            li.news-list__item.col__31
                                .news-list__img.news-list__img--one.inline
                                    a.border-btn.border-btn--red
                                        | События
                                .str10.padding__row 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно ...
                                br
                                a.str13 Все события&nbsp&nbsp&nbsp
                                    i.fa.fa-long-arrow-right
                            li.news-list__item.col__31
                                .news-list__img.news-list__img--one.inline
                                    a.border-btn.border-btn--red
                                        | События
                                .str10.padding__row 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно ...
                                br
                                a.str13 Все события&nbsp&nbsp&nbsp
                                    i.fa.fa-long-arrow-right
        section.calendar
        section.bg-white
            .container.padding__row
                h2.section__content-title
                    b Деятельность ассоциации
                br
                a.more.mb-20
                    span.more__btn
                        i.fa.fa-long-arrow-right
                    span.str3.more__text Все события
                a.right
                    span.helper Подисаться на новости&nbsp&nbsp&nbsp
                    i.fa.fa-envelope-o.red
            .news-slider
            .container.padding-horiz.inline
                .col__50.partners
                    span.str14
                        i.fa.fa-bookmark.red
                        | Генеральный инфопартнер
                    .str10.padding-horiz.col__70 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией
                    span.ami
                .col__50.partners
                    span.str14
                        i.fa.fa-bookmark.red
                        | Информационные партнеры
                    ul.partners-list.inline
                        li.col__25.partners-list__item
                            span.partner1
                        li.col__25.partners-list__item
                            span.partner2
                        li.col__25.partners-list__item
                            span.partner3
                        li.col__25.partners-list__item
                            span.partner4
                        li.col__25.partners-list__item
                            span.partner5
                        li.col__25.partners-list__item
                            span.partner6
                        li.col__25.partners-list__item
                            span.partner7
                        li.col__25.partners-list__item
                            span.partner8
