mixin header
  header.header
    .header__top
      .row.container
        span.header__top-item.col__30 Саморегулируемая организация
        span.header__top-item.col__50
          a.mail(href="mailto:info@apcmed.ru ") info@apcmed.ru
          a.tel(href="tel:+74957698568") +7 (495) 769-85-68
        .header__top-item.right.inline
          a.lang
            span.lang__item рус
          span.lang__center &nbsp&nbsp|&nbsp&nbsp
          a.lang
            span.lang__item en
          .clearfix

    .header__bottom
      .header__inner.container.clearfix
        .header__title
          a.header__logo(href="index.html")
            span.logo
          h1.header__title-text Ассоциация Частных Клиник
            br
            | Москвы и ЦФО

        .header__menu
          a.menu__list-logo.img-wrap(href="/")
            img(src="images/logo.png")
          ol.menu__list
              li.menu__list-item
                a(href="about.html") ОБ АССОЦИАЦИИ
              li.menu__list-item
                a(href="news.html") НОВОСТИ
              li.menu__list-item
                a(href="events.html") СОБЫТИЯ И ОБУЧЕНИЕ
              li.menu__list-item
                a АНАЛИТИКА
              li.menu__list-item
                a ПРЕСС-ЦЕНТР
              li.menu__list-item
                a(href="contacts.html") КОНТАКТЫ
        .header__icons.clearfix
          form#headSearchForm.toggleform.search__form.search__form--top
            input.search__form-input(type='text', name='search', placeholder='Введите поисковый запрос...')
          a.fa__icons-link#hSearch
            <i class="fa fa-search" aria-hidden="true"></i>
          form#headMailForm.toggleform.mail__form.mail__form--top
            input.mail__form-input(type='email', name='email', placeholder='Ваш e-mail...')
            input.mail__form-input.mail__form-input--submit(type="submit", value="Отправить")
          a.fa__icons-link#hMail
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          #headShare.share-box.share-box--header
            a.share-box__link
              i.fa.fa-vk
            a.share-box__link
              i.fa.fa-facebook
            a.share-box__link
              i.fa.fa-twitter
          a.fa__icons-link#hShare
            <i class="fa fa-share-alt" aria-hidden="true"></i>



mixin slider2
  section.section__sl

mixin bread(item)
  .bread

mixin sidebar(item)
  aside.sidebar
    .sidebar__header
      span.sidebar__header-inner 01.
    ul.sidebar__menu
      li.sidebar__menu-item
        a(href="about.html").sidebar__menu-link ОБ АССОЦИАЦИИ
        i.fa.fa-long-arrow-right
      li.sidebar__menu-item
        a(href="join.html").sidebar__menu-link КАК ВСТУПИТЬ
        i.fa.fa-long-arrow-right
      li.sidebar__menu-item
        a(href="clinics.html").sidebar__menu-link НАШИ КЛИНИКИ
        i.fa.fa-long-arrow-right
      li.sidebar__menu-item
        a(href="people.html").sidebar__menu-link ЛИЦА АССОЦИАЦИИ
        i.fa.fa-long-arrow-right
      li.sidebar__menu-item
        a(href="partners.html").sidebar__menu-link ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ
        i.fa.fa-long-arrow-right
      li.sidebar__menu-item
        a(href="code.html").sidebar__menu-link ЭТИЧЕСКИЙ КОДЕКС
        i.fa.fa-long-arrow-right
      li.sidebar__menu-item
        a(href="specification.html").sidebar__menu-link ПОЛОЖЕНИЯ, СТАНДАРТЫ, ПРАВИЛА
        i.fa.fa-long-arrow-right
      li.sidebar__menu-item
        a(href="registry.html").sidebar__menu-link РЕЕСТР АССОЦИАЦИИ
        i.fa.fa-long-arrow-right


mixin pagination()
  ul.row.pagnav

mixin rating()
  ul.row.between.rate

mixin button
  .section__content-adds

mixin feed
  .feed

mixin sidebar2(item)
  aside.sidebar
    .sidebar__header
      span.sidebar__header-inner 02.
    ul.sidebar__menu
      li.sidebar__menu-item
        a.sidebar__menu-link ВСЕ НОВОСТИ
        i.fa.fa-long-arrow-right
      li.sidebar__menu-item
        a.sidebar__menu-link НОВОСТИ АССОЦИАЦИИ
        i.fa.fa-long-arrow-right
      li.sidebar__menu-item
        a.sidebar__menu-link НОВОСТИ ЗДРАВООХРАНЕНИЯ
        i.fa.fa-long-arrow-right

mixin sidebar3()
  aside.sidebar
    .sidebar__header
      span.sidebar__header-inner 03.
    ul.sidebar__menu
      li.sidebar__menu-item
        a.sidebar__menu-link ВСЕ МЕРОПРИЯТИЯ
        i.fa.fa-long-arrow-right
      li.sidebar__menu-item
        a.sidebar__menu-link СОБЫТИЯ
        i.fa.fa-long-arrow-right
      li.sidebar__menu-item
        a.sidebar__menu-link ОБУЧЕНИЕ
        i.fa.fa-long-arrow-right

mixin sidebar6()
  aside.sidebar
    .sidebar__header
      span.sidebar__header-inner 06.


