extends layout
include mixins.jade

block content
    main
        section.section__content
            .container-wrapper
                +sidebar([
                    ['Виды диагностики']
                ])
                .section__content-main

