extends layout
include mixins.jade

block content
  main
    section.section__content.bg-white
      .container
        +sidebar2
        .section__content-main.padding__row
          h1.section__content-title
            | Все
            br
            | Новости

          .padding-horiz
            p.str11
              span.str12 Ассоциация Частных Клиник Москвы анонсирует
              | &nbspсобытия отрасли. Содает информационную среду, помогающую развивать и поддерживать связи между членами сообщества.
      .padding-horiz
        .border-hr
      - for (var x = 0; x < 6; x++)
        .container.padding-horiz
          .section__content-news.inline.clearfix
            .col__20
              .img-wrapper
                img(src='images/news/1.jpg')
            .col__73.right
              span.str10 12 октября 2016
              br
              span.str10 Новости здравоохранения
              br
              br
              span.str8.padding__row
               b Комиссия по календарю прививок будет создана при Общественной палате РФ.
              br
              br
              a.more.padding__row(href='item.html')
                span.more__btn
                  i.fa.fa-long-arrow-right
                span.str3.more__text.red
                  b Подробно
        .padding-horiz
          .border-hr
    .pagination-wrapper.padding-horiz
      ul.row.pagination__list.inline.tac
        li.pagination__item.pagination__item_active
          a(href="").pagination__link.str20 01
        li.pagination__item
          a(href="").pagination__link.str20 02
        li.pagination__item
          a(href="").pagination__link.str20 03
        li.pagination__item
          a(href="").pagination__link.str20 ...
        li.pagination__item
          a(href="").pagination__link.str20 21
    .container.padding-horiz.inline
      .col__50.partners
        span.str14
          i.fa.fa-bookmark.red
          | Генеральный инфопартнер
        .str10.padding-horiz.col__70 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией
        span.ami
      .col__50.partners
        span.str14
          i.fa.fa-bookmark.red
          | Информационные партнеры
        ul.partners-list.inline
          li.col__25.partners-list__item
            span.partner1
          li.col__25.partners-list__item
            span.partner2
          li.col__25.partners-list__item
            span.partner3
          li.col__25.partners-list__item
            span.partner4
          li.col__25.partners-list__item
            span.partner5
          li.col__25.partners-list__item
            span.partner6
          li.col__25.partners-list__item
            span.partner7
          li.col__25.partners-list__item
            span.partner8


