extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar
                .section__content-main.padding__row
                    h1.section__content-title
                        |Информационные
                        br
                        |партнеры

                    .padding-horiz
                        p.str11
                            span.str12 Ассоциация Частных Клиник Москвы
                            | &nbspобъединяет не только заинтересованных профессионалов, но и людей не равнодушных к социальному устройству.

                    .img-wrap.mb-20
                        img(src='images/content-img1.jpg')

        .border-hr.padding-horiz.mb-20
        section
            .container.padding-horiz.bg-white
                span.section__content-title
                    | Генеральный инфопартнер
                br
                .padding-horiz
                    .img-wrapper.right.clearfix
                        img(src='images/partner-general.png')
                    span.str10.col__60 Основанное в 2005 г. Российское информационное агентство АМИ,
                        |специализируется на распространении международных и российских
                        |новостей и аналитической информации в сфере здравоохранения, медицины
                        |и фармацевтики, здорового образа жизни и физической культуры, социальной
                        |защиты и социального обеспечения, а также трудовых отношений.
                    br
                    a.str10.padding__row riami.ru

            .container.padding-horiz.bg-white
                span.section__content-title.mb-20
                    | Информационные партнеры
                br


                table.section__content-table
                    tr
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                    tr
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                    tr
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru


