extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar
                .section__content-main.padding__row
                    h1.section__content-title
                        |Лица
                        br
                        |ассоциации

                    .padding-horiz
                        p.str11
                            span.str12 Ассоциация Частных Клиник Москвы –
                            | &nbspобъединяет не только заинтересованных профессионалов, но и людей не равнодушных к социальному устройству
                    .img-wrap
                        img(src='images/content-img1.jpg')

        .border-hr.padding-horiz
        section
            .container.bg-white
                .tac.padding-horiz
                    span.section__content-title Люди, развивающие ассоциацию
                .double.clearfix
                    .double__upper.col__30.center.padding__row
                        .padding-container
                            .hr-red
                        .tac
                            .associate__number
                                span.str-7.str-7--big.red 7
                                span.str-6.str-6--big.red 6
                                span.str-5.red.padding__row
                                    |Клиник состоит в
                                    br
                                    |ассоциации
                        .padding-container
                            .hr-red
                    .double__item.col__48.left
                        .img-wrap
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            |Басков
                            br
                            |Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br
                        a.str10.padding-horiz
                            b Подробно &nbsp&nbsp
                            i.fa.fa-long-arrow-right
                    .double__item.col__48.right
                        .img-wrap
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            | Басков
                            br
                            | Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br
                        a.str10.padding-horiz
                            b Подробно &nbsp&nbsp
                            i.fa.fa-long-arrow-right

                .double.padding__row.clearfix
                    .double__upper.col__30.center.padding__row
                        .padding-container
                            .hr-red
                        .tac
                            .associate__number
                                span.str-7.str-7--big.red 4
                                span.str-6.str-6--big.red 2
                                span.str-5.red.padding__row
                                    | Клиник состоит в
                                    br
                                    | ассоциации
                        .padding-container
                            .hr-red
                    .double__item.col__48.left
                        .img-wrap
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            | Басков
                            br
                            | Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br
                        a.str10.padding-horiz
                            b Подробно &nbsp&nbsp
                            i.fa.fa-long-arrow-right
                    .double__item.col__48.right
                        .img-wrap
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            | Басков
                            br
                            | Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br
                        a.str10.padding-horiz
                            b Подробно &nbsp&nbsp
                            i.fa.fa-long-arrow-right
                .double.padding__row.clearfix
                    .double__upper.col__30.center.padding__row
                        .padding-container
                            .hr-red
                        .tac
                            .associate__number
                                span.str-7.str-7--big.red 1
                                span.str-6.str-6--big.red 1
                                span.str-5.red.padding__row
                                    | Клиник состоит в
                                    br
                                    | ассоциации
                        .padding-container
                            .hr-red
                    .double__item.col__48.left
                        .img-wrap
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            | Басков
                            br
                            | Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br
                        a.str10.padding-horiz
                            b Подробно &nbsp&nbsp
                            i.fa.fa-long-arrow-right
                    .double__item.col__48.right
                        .img-wrap
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            | Басков
                            br
                            | Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br
                        a.str10.padding-horiz
                            b Подробно &nbsp&nbsp
                            i.fa.fa-long-arrow-right
                .padding-horiz.tac
                    a.border-btn.border-btn--content
                        b Показать ещё
                        |&nbsp&nbsp
                        i.fa.fa-long-arrow-right

