//-jade popup.jade
.popup
    .popup__container.padding-container.jsJoinPopup
        .popup__close-wrapper
            .popup__close.right
                .x.shift.large
                    b
                    b
                    b
                    b
        .popup__inner
            .popup__title.padding-horiz.tac
                span.section__content-title.red
                    | Заявка
                    br
                    | на вступление в Ассоциацию
            span.str14 * Отмечены поля обязательные к заполнению
            .popup__form
                form(action="")
                    .popup__row
                        label.str10 * Полное юридическое название компании:
                        br
                        input(type="text", required)
                    .popup__row
                        label.str10 * Торговое название компании:
                        br
                        input(type="text", required)
                    .popup__row
                        label.str10 Адрес корпоративного сайта:
                        br
                        input(type="text")
                    .popup__row
                        label.str10 * ФИО контактного лица:
                        br
                        input(type="text", required)
                    .popup__row
                        label.str10 * Телефон контактного лица:
                        br
                        input(type="tel", pattern="\+7\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}", required)
                    .popup__row
                        label.str10 Контактный e-mail:
                        br
                        input(type="email")
                    .popup__row.clearfix
                        .right
                            input(type="submit", value='Отправить').popup__submit.border-btn.border-btn--red