//- jade scripts.jade
if tabs
	script(src="js/eventTabs.js")
if jQuery
	script(src="js/jquery-1.8.2.min.js")
script(src='js/jquery.particleground.js')
if fullcalendar
	script(src="js/moment.min.js")
	script(src="js/fullcalendar.min.js")
	script(src="js/ru.js")
if bxslider
	script(src='js/bxslider.min.js')

script(src='js/main.js')