extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar
                .section__content-main.padding__row

                    h1.section__content-title
                        | Автономная Некоммерческая

                    .padding-horiz
                        form#headSearchForm.toggleform.search__form.search__form--page.open
                            input.search__form-input(type='text', name='search', placeholder='Введите поисковый запрос...')
                            input.search__form-submit(type='submit', value='Поиск')
                            br
                            span.str12.padding__row
                                b По фразе «Клиника»
                                |&nbsp; найдено 102 результата



                    .padding-horiz
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br

                    .padding-horiz
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br

                    .padding-horiz
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br

                    .padding-horiz
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br

                    .padding-horiz
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br





