extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar
                .section__content-main.padding__row
                    h1.section__content-title
                        |Положения,
                        br
                        |стандарты, правила

                    .padding-horiz
                        p.str11
                            span.str12 «АссоциациЯ частных клиник Москвы и ЦФО»
                            | &nbspруководствуется документами, принятыми как часть Устава ассоциации. независимость и ценность каждой клиники в отдельности и уважая ее право
                            | отстаивать свое мнение, отличное от других членов Ассоциации.
                        p.str17.padding-horiz
                            | Стандарт Ассоциации
                            br
                            | Положение о Контрольном комитете
                            br
                            | Правила Ассоциации
                            br
                            | Положение о Третейском суде
                            br
                            | Положение о Компенсационном фонде

        .border-hr.padding-horiz.mb-20
        section
            .container.padding__row
                span.section__content-title
                    | Учредители ассоциации
                br

            .container.padding-horiz.bg-white
                a.more.mb-20
                    span.more__btn
                        i.fa.fa-long-arrow-right
                    span.str3.more__text.red
                        b Все клиники ассоциации

                table.section__content-table
                    tr
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                    tr
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                    tr
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru
                        td
                            .img-wrapper
                                img(src='images/clinics/1.jpg')
                            span.str10.mb-20 Многопрофильная клиника ЦЭЛТ (Центр Эндохирургии и Литотрипсии)
                            a.str10 celt.ru



