//- var GoogleFonts = false
- var jQuery = true
//- var amChart = false
//- var captcha = false

//- Slider variables
- var bxslider = true
- var fullcalendar = true
//- var slickslider = false
//- var lightslider = false

//- Scroll-bar
//- var scrollbar = false

//- Acordion 
//- var navgoco = true